---
import Layout from '../layouts/Layout.astro';
---

<Layout 
    title="О сайте | Мой блог" 
    description="Информация о нашем блоге и миссии"
>
    <div class="page-content">
        <h1>О нашем блоге</h1>
        <p>Добро пожаловать в наш блог! Мы создали эту платформу для того, чтобы делиться самыми интересными и актуальными новостями со всего мира.</p>
        
        <h2>Наша миссия</h2>
        <p>Предоставлять качественный контент на различные темы: политику, экономику, культуру, спорт и многое другое.</p>
        
        <h2>Наша команда</h2>
        <p>Над созданием контента работает команда профессиональных журналистов и экспертов в различных областях.</p>
        
        <h2>Контакты для сотрудничества</h2>
        <p>Если вы хотите предложить тему для статьи или сотрудничать с нами, напишите нам через форму контактов.</p>
    </div>
</Layout>